* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma;
  margin: 0;
}

.pill-nav{
  background-color: #171819;
  /*color: white;*/
}

.pill-nav button {
  background-color: #171819;
  margin: 20px auto;
  border: 2px solid #171819 ;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
  transition: 0.25s;
}

.pill-nav button:hover {
  background-color: #2ecc71;
  color: white;
}

.pill-nav button.active {
  background-color: #2ecc71;
  color: white;
}

#map {
  position: relative;
  height: 400px;
  width: 600px; }

article {
  float: left;
  padding: 20px;
  width: 85%;
  background-color: #171819;
  height: 880px; 
  color: #ffffff;
  
}

.dropbtn {
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #00FFFF;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  width: 258px;
  border-color: #2ecc71;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #808080;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px #000000;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #2ecc71;}

.show {display: block;}

.column {
  float: left;
  width: 50%;
}

.column button[id="searchbtn"]{
  border:0;
  background: none;
  display: block;
  margin-top: 50px auto;
  border: 2px solid #2ecc71;
  padding: 14px 10px;
  width: 500px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.column button[id="searchbtn"]:after {
  content: "";
  clear: both;
  display: table;
}

.column button[id="searchbtn"]:hover {
  background-color: #2ecc71;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

#lboard {
  color: white;
  position: center;
}

#lblist {
  color: white;
  position: center;
}

aside {
  float: left;
  width: 15%;
  height: 880px;
  color: white; 
  background: #191919;
  padding: 20px;
}

aside ul {
  list-style-type: square;
  padding: 0;
}

aside h1{
  color: white;
  position: center;
}

aside h3[id="name"]{
  background-color: #2ecc71; 
  border: 1px solid #2ecc71; 
  color: white; 
  padding: 10px 60px; 
  border-radius: 24px;
  transition: 0.25s;
  margin: 20px auto;
  text-align: center;
}

aside p{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  border: 2px solid #00FFFF;
  padding: 14px 10px;
  width: 220px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

aside p:hover{
  width: 258px;
  border-color: #2ecc71;

}

ol li:first-child{
  list-style-image:url('goldsmall.png');
  }
ol li:first-child + li{
  list-style-image:url('silversmall.png');
  }
ol li:first-child + li + li{
  list-style-image:url('bronzesmall.png');
  }

aside button[id="upload"]{
  background-color: #191919; 
  border: 1px solid #2ecc71; 
  color: white; 
  padding: 10px 60px; 
  cursor: pointer; 
  position: center;
  border-radius: 24px;
  transition: 0.25s;
  margin: 20px auto;
  text-align: center;
}

aside button[id="upload"]:after {
  content: "";
  clear: both;
  display: table;
}

aside button[id="upload"]:hover {
  background-color: #2ecc71;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

#searchload {
  width: 100%;
  background-color: #171819;
  display : "none";
}

#searchbar {
  margin-top: 40px;
  display : none;
  width: 10%;
  height: 30px;
  background-color: #2ecc71;
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}

footer {
  background-color: #191919;
  padding: 20px;
  color: white;
}

footer button{
  right: 300px;
background-color: #191919;
border: 2px solid #171819 ;
padding: 14px 10px;
color: white;
transition: 0.25s;
outline: none;
cursor: pointer;
display: block;
}

footer button:hover {
  color: #2ecc71;
}

footer.btn-group button:not(:last-child) {
  border-bottom: none; 
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
